In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [24]:
train_logs = pd.read_csv("./dataset/train_logs.csv")
train_scores = pd.read_csv("./dataset/train_scores.csv")
test_logs = pd.read_csv("./dataset/test_logs.csv")

Analyze the training dataset that contains samples

In [25]:
train_logs.head(20)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
5,001519c8,6,107296,107400,104,Input,q,q,q,3,1
6,001519c8,7,107469,107596,127,Input,q,q,q,4,1
7,001519c8,8,107659,107766,107,Input,q,q,q,5,1
8,001519c8,9,107743,107852,109,Input,q,q,q,6,1
9,001519c8,10,107840,107978,138,Input,Space,Space,,7,1
10,001519c8,11,108008,108195,187,Input,q,q,q,8,2
11,001519c8,12,108104,108259,155,Input,q,q,q,9,2
12,001519c8,13,108229,108370,141,Input,q,q,q,10,2
13,001519c8,14,108341,108486,145,Input,Space,Space,,11,2
14,001519c8,15,109296,109438,142,Input,q,q,q,12,3
15,001519c8,16,109423,109559,136,Input,q,q,q,13,3
16,001519c8,17,109560,109729,169,Input,q,q,q,14,3
17,001519c8,18,109826,109994,168,Input,q,q,q,15,3
18,001519c8,19,110398,110516,118,Remove/Cut,Backspace,Backspace,q,14,3
19,001519c8,20,110595,110751,156,Input,q,q,q,15,3

In [26]:
train_logs.shape

(8405898, 11)

In [27]:
train_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405898 entries, 0 to 8405897
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id               object
 1   event_id         int64
 2   down_time        int64
 3   up_time          int64
 4   action_time      int64
 5   activity         object
 6   down_event       object
 7   up_event         object
 8   text_change      object
 9   cursor_position  int64
 10  word_count       int64
dtypes: int64(6), object(5)
memory usage: 705.5+ MB

In [28]:
train_logs.drop(columns=["event_id"]).describe().astype(int)

       down_time  up_time  action_time  cursor_position  word_count
count    8405898  8405898      8405898          8405898     8405898
mean      793560   793658           98             1222         231
std       514945   514942          253              948         175
min          106      252            0                0           0
25%       373184   373282           66              499          96
50%       720886   720980           93             1043         200
75%      1163042  1163141          122             1706         327
max      8313630  8313707       447470             7802        1326

In [29]:
train_logs.drop(columns=["id"]).describe(include=[object])

       activity down_event up_event text_change
count   8405898    8405898  8405898     8405898
unique       50        131      130        4111
top       Input          q        q           q
freq    6726796    5365319  5364789     6128208

In [30]:
list(train_logs.columns)

['id',
 'event_id',
 'down_time',
 'up_time',
 'action_time',
 'activity',
 'down_event',
 'up_event',
 'text_change',
 'cursor_position',
 'word_count']

In [31]:
train_logs["activity"].unique()

array(['Nonproduction', 'Input', 'Remove/Cut', 'Replace',
       'Move From [284, 292] To [282, 290]',
       'Move From [287, 289] To [285, 287]',
       'Move From [460, 461] To [465, 466]', 'Paste',
       'Move From [905, 1314] To [907, 1316]',
       'Move From [565, 743] To [669, 847]',
       'Move From [669, 847] To [565, 743]',
       'Move From [1041, 1121] To [1496, 1576]',
       'Move From [1455, 1557] To [1323, 1425]',
       'Move From [2268, 2275] To [2247, 2254]',
       'Move From [213, 302] To [902, 991]',
       'Move From [0, 158] To [234, 392]',
       'Move From [460, 465] To [925, 930]',
       'Move From [810, 906] To [816, 912]',
       'Move From [186, 187] To [184, 185]',
       'Move From [140, 272] To [299, 431]',
       'Move From [114, 140] To [272, 298]',
       'Move From [1386, 1450] To [1445, 1509]',
       'Move From [442, 524] To [296, 378]',
       'Move From [408, 414] To [390, 396]',
       'Move From [1144, 1147] To [1142, 1145]',
       'Move From [218, 220] To [206, 208]',
       'Move From [164, 165] To [153, 154]',
       'Move From [623, 632] To [624, 633]',
       'Move From [747, 960] To [1041, 1254]',
       'Move From [274, 314] To [299, 339]',
       'Move From [624, 625] To [845, 846]',
       'Move From [1861, 2063] To [1766, 1968]',
       'Move From [1766, 1968] To [1861, 2063]',
       'Move From [2091, 2179] To [252, 340]',
       'Move From [923, 1077] To [340, 494]',
       'Move From [0, 1] To [590, 591]',
       'Move From [999, 1000] To [1000, 1001]',
       'Move From [13, 65] To [9, 61]',
       'Move From [1651, 1769] To [1565, 1683]',
       'Move From [61, 136] To [0, 75]', 'Move From [0, 75] To [1, 76]',
       'Move From [75, 134] To [304, 363]',
       'Move From [289, 355] To [562, 628]',
       'Move From [944, 1102] To [1050, 1208]',
       'Move From [1306, 1371] To [1061, 1126]',
       'Move From [1061, 1126] To [1306, 1371]',
       'Move From [1361, 1362] To [1358, 1359]',
       'Move From [51, 86] To [109, 144]',
       'Move From [134, 169] To [122, 157]',
       'Move From [382, 437] To [458, 513]'], dtype=object)

In [32]:
train_logs["down_event"].unique()

array(['Leftclick', 'Shift', 'q', 'Space', 'Backspace', '.', ',', 'Enter',
       'ArrowLeft', "'", ';', 'ArrowRight', '-', '?', 'Tab', '"',
       'ArrowUp', 'ArrowDown', 'Rightclick', '=', 'CapsLock', 'Control',
       'c', 'v', '/', 'Delete', ':', 'z', '[', '$', '(', ')', '+', 'Home',
       'End', '\\', 'Meta', '*', '&', 'AudioVolumeMute', 'x', '!',
       'Insert', 'MediaPlayPause', 'NumLock', '%', 'V', '>', 'Alt',
       'AudioVolumeUp', 'ContextMenu', 'AudioVolumeDown', 'a', '<',
       'PageDown', ']', 'Middleclick', '@', 'F12', 'j', '\x96', 'Dead',
       't', 's', 'n', 'y', '{', 'ScrollLock', '¿', 'Process', '}',
       'MediaTrackPrevious', 'MediaTrackNext', 'F3', '^', 'Unidentified',
       'Cancel', '2', 'i', 'd', 'r', 'e', '`', '\x9b', 'm', '#', '~',
       'PageUp', 'T', 'A', 'b', 'S', 'ModeChange', '_', 'Escape', 'F11',
       'Unknownclick', 'AltGraph', 'F10', 'h', 'F15', 'Clear', 'OS', 'F',
       'C', 'o', 'Ä±', 'f', 'u', 'w', 'p', 'g', 'M', 'l', '|',
       'â\x80\x93', 'I', '0', '1', '5', '\x97', 'Ë\x86', '¡', '\x80',
       'Â´', 'Å\x9f', 'F2', 'ä', 'F1', 'Pause', 'F6'], dtype=object)

In [33]:
train_logs["up_event"].unique()

array(['Leftclick', 'Shift', 'q', 'Space', 'Backspace', '.', ',', 'Enter',
       'ArrowLeft', "'", ';', 'ArrowRight', '-', '?', 'Tab', '"',
       'ArrowUp', 'ArrowDown', 'm', 'Rightclick', 'i', 'o', 't', '=', 'a',
       'CapsLock', 'Control', 'c', 'v', '/', 'Delete', ':', 'z', '[', '$',
       '(', ')', '+', 'Home', 'End', '\\', 'Meta', '*', '&',
       'AudioVolumeMute', 'x', '!', 'Insert', 'MediaPlayPause', 'w',
       'NumLock', '%', 'V', 'b', '>', 'Alt', 'AudioVolumeUp',
       'ContextMenu', 'AudioVolumeDown', 'n', 'e', '<', 'PageDown', ']',
       'Middleclick', '@', 'F12', 'u', 'j', 's', '\x96', 'Dead', 'y', '{',
       'ScrollLock', '¿', 'p', 'Process', '}', 'MediaTrackPrevious',
       'MediaTrackNext', 'F3', '^', 'Unidentified', 'Cancel', 'h', '2',
       'd', 'r', '`', '\x9b', 'f', 'g', '#', '~', 'PageUp', 'l', 'T', 'A',
       'S', 'ModeChange', '_', 'Escape', 'F11', 'Unknownclick',
       'AltGraph', 'F10', 'F15', 'Clear', 'OS', 'C', 'Ä±', 'M', '|',
       'â\x80\x93', '0', '1', '5', '\x97', 'Ë\x86', '¡', '\x80', 'Â´',
       'Å\x9f', 'F2', 'ä', 'F1', 'k', 'Pause', 'F6'], dtype=object)

In [34]:
train_logs["text_change"].unique()

array(['NoChange', 'q', ' ', ..., 'qq qqq qqqq qqqqq',
       'qq qqqqq qqqq qq qqqqq ',
       '\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq '],
      dtype=object)

In [35]:
# test = []
# for i , (_, group) in enumerate(train_logs.groupby("id")):
#     if i == 2000:
#         break
#     test.append(group)
# test = pd.concat(test)
# test.to_csv("./dataset/mytest.csv", index=False)

---

Analyze the training dataset that contains labels

In [36]:
train_scores.head()

         id  score
0  001519c8    3.5
1  0022f953    3.5
2  0042269b    6.0
3  0059420b    2.0
4  0075873a    4.0

In [37]:
train_scores.shape

(2471, 2)

In [38]:
train_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2471 entries, 0 to 2470
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2471 non-null   object
 1   score   2471 non-null   float64
dtypes: float64(1), object(1)
memory usage: 38.7+ KB

In [39]:
list(train_scores["score"].unique())

[3.5, 6.0, 2.0, 4.0, 4.5, 2.5, 5.0, 3.0, 1.5, 5.5, 1.0, 0.5]

---

In [40]:
new_train_logs = pd.read_csv("./dataset/new_train_logs.csv", index_col=0)

In [41]:
new_train_logs.head(50)

,down_time,up_time,action_time,text_change,cursor_position,word_count,pause,Input,Move,Nonproduction,Paste,Remove/Cut,Replace
id,,,,,,,,,,,,,
001519c8,4526,4557,31,0,0,0,4526.0,0,0,1,0,0,0
001519c8,4558,4962,404,0,0,0,1.0,0,0,1,0,0,0
001519c8,106571,106571,0,0,0,0,101609.0,0,0,1,0,0,0
001519c8,106686,106777,91,1,1,1,115.0,1,0,0,0,0,0
001519c8,107196,107323,127,1,2,1,419.0,1,0,0,0,0,0
001519c8,107296,107400,104,1,3,1,0.0,1,0,0,0,0,0
001519c8,107469,107596,127,1,4,1,69.0,1,0,0,0,0,0
001519c8,107659,107766,107,1,5,1,63.0,1,0,0,0,0,0
001519c8,107743,107852,109,1,6,1,0.0,1,0,0,0,0,0
001519c8,107840,107978,138,0,7,1,0.0,1,0,0,0,0,0
001519c8,108008,108195,187,1,8,2,30.0,1,0,0,0,0,0
001519c8,108104,108259,155,1,9,2,0.0,1,0,0,0,0,0
001519c8,108229,108370,141,1,10,2,0.0,1,0,0,0,0,0
001519c8,108341,108486,145,0,11,2,0.0,1,0,0,0,0,0
001519c8,109296,109438,142,1,12,3,810.0,1,0,0,0,0,0
001519c8,109423,109559,136,1,13,3,0.0,1,0,0,0,0,0
001519c8,109560,109729,169,1,14,3,1.0,1,0,0,0,0,0
001519c8,109826,109994,168,1,15,3,97.0,1,0,0,0,0,0
001519c8,110398,110516,118,1,14,3,404.0,0,0,0,0,1,0
001519c8,110595,110751,156,1,15,3,79.0,1,0,0,0,0,0
001519c8,110745,110863,118,1,16,3,0.0,1,0,0,0,0,0
001519c8,110848,110989,141,0,17,3,0.0,1,0,0,0,0,0
001519c8,111034,111140,106,1,18,4,45.0,1,0,0,0,0,0
001519c8,111174,111261,87,1,19,4,34.0,1,0,0,0,0,0
001519c8,111310,111414,104,1,20,4,49.0,1,0,0,0,0,0
001519c8,111442,111587,145,1,21,4,28.0,1,0,0,0,0,0
001519c8,111718,111771,53,1,22,4,131.0,1,0,0,0,0,0
001519c8,111853,111995,142,1,23,4,82.0,1,0,0,0,0,0
001519c8,111978,112122,144,0,24,4,0.0,1,0,0,0,0,0
001519c8,112192,112323,131,1,25,5,70.0,1,0,0,0,0,0
001519c8,112248,112414,166,1,26,5,0.0,1,0,0,0,0,0
001519c8,112359,112478,119,0,27,5,0.0,1,0,0,0,0,0
001519c8,112589,112700,111,1,28,6,111.0,1,0,0,0,0,0
001519c8,113005,113075,70,1,27,5,305.0,0,0,0,0,1,0
001519c8,113055,113175,120,1,28,6,0.0,1,0,0,0,0,0
001519c8,113233,113323,90,1,29,6,58.0,1,0,0,0,0,0
001519c8,113304,113446,142,0,30,6,0.0,1,0,0,0,0,0
001519c8,113520,113632,112,1,31,7,74.0,1,0,0,0,0,0
001519c8,113585,113740,155,1,32,7,0.0,1,0,0,0,0,0
001519c8,113682,113796,114,1,33,7,0.0,1,0,0,0,0,0
001519c8,113841,113944,103,1,34,7,45.0,1,0,0,0,0,0
001519c8,113988,114122,134,1,35,7,44.0,1,0,0,0,0,0
001519c8,114071,114178,107,0,36,7,0.0,1,0,0,0,0,0
001519c8,114218,114322,104,1,37,8,40.0,1,0,0,0,0,0
001519c8,114308,114439,131,1,38,8,0.0,1,0,0,0,0,0
001519c8,114440,114570,130,0,39,8,1.0,1,0,0,0,0,0
001519c8,114533,114657,124,1,40,9,0.0,1,0,0,0,0,0
001519c8,114609,114714,105,1,41,9,0.0,1,0,0,0,0,0
001519c8,114688,114847,159,1,42,9,0.0,1,0,0,0,0,0
001519c8,114824,114959,135,1,43,9,0.0,1,0,0,0,0,0

In [42]:
new_train_logs.shape

(8405898, 13)

In [43]:
grouped = new_train_logs.groupby("id")
grouped.get_group(list(grouped.groups.keys())[0])

,down_time,up_time,action_time,text_change,cursor_position,word_count,pause,Input,Move,Nonproduction,Paste,Remove/Cut,Replace
id,,,,,,,,,,,,,
001519c8,4526,4557,31,0,0,0,4526.0,0,0,1,0,0,0
001519c8,4558,4962,404,0,0,0,1.0,0,0,1,0,0,0
001519c8,106571,106571,0,0,0,0,101609.0,0,0,1,0,0,0
001519c8,106686,106777,91,1,1,1,115.0,1,0,0,0,0,0
001519c8,107196,107323,127,1,2,1,419.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
001519c8,1781786,1781841,55,1,555,255,88.0,0,0,0,0,1,0
001519c8,1781917,1781991,74,1,554,255,76.0,0,0,0,0,1,0
001519c8,1782062,1782141,79,1,553,255,71.0,0,0,0,0,1,0
001519c8,1782922,1782985,63,1,554,255,781.0,1,0,0,0,0,0
001519c8,1801877,1801969,92,0,1046,255,18892.0,0,0,1,0,0,0

In [ ]:
index = []
mean_pause = []
del_num = []
add_num = []
del_len = []
add_len = []
del_ratio = []
add_ratio = []
product_process_ratio = []

for idx, group in new_train_logs.groupby("id"):
    index.append(idx)

    mean_pause.append(group["pause"].mean())

    remove = group["Remove/Cut"] == 1
    input = group["Input"] == 1
    # number of deletions
    del_num.append(remove.sum())

    # number of insertions
    add_num.append(input.sum() + (group["Paste"] == 1).sum())

    # length of deletions & length of insertions
    remove_char_sum = group.loc[remove, "text_change"].sum()
    add_char_sum = group.loc[input, "text_change"].sum()
    del_len.append(remove_char_sum)
    add_len.append(add_char_sum)

    # proportion of deletions & proportion of insertions
    # (as a % of total writing time)
    total_time = group.iloc[-1]["up_time"]
    del_time = group.loc[remove, "action_time"].sum()
    add_time = group.loc[input, "action_time"].sum()
    del_ratio.append(del_time)
    add_ratio.append(add_time)

    # product vs process ratio (The number of characters 
    # in the product divided by the number of characters 
    # produced during the writing process)
    total_char = add_char_sum
    result_char = add_char_sum - remove_char_sum
    product_process_ratio.append(result_char / total_char)