In [1]:
import pandas as pd
import numpy as np

In [2]:
train_logs = pd.read_csv("./dataset/train_logs.csv")
train_scores = pd.read_csv("./dataset/train_scores.csv")

Analyze the training dataset that contains samples

In [3]:
train_logs.head(10)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
5,001519c8,6,107296,107400,104,Input,q,q,q,3,1
6,001519c8,7,107469,107596,127,Input,q,q,q,4,1
7,001519c8,8,107659,107766,107,Input,q,q,q,5,1
8,001519c8,9,107743,107852,109,Input,q,q,q,6,1
9,001519c8,10,107840,107978,138,Input,Space,Space,,7,1

In [4]:
train_logs.shape

(8405898, 11)

In [5]:
train_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405898 entries, 0 to 8405897
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id               object
 1   event_id         int64
 2   down_time        int64
 3   up_time          int64
 4   action_time      int64
 5   activity         object
 6   down_event       object
 7   up_event         object
 8   text_change      object
 9   cursor_position  int64
 10  word_count       int64
dtypes: int64(6), object(5)
memory usage: 705.5+ MB

In [6]:
train_logs.drop(columns=["event_id"]).describe().astype(int)

       down_time  up_time  action_time  cursor_position  word_count
count    8405898  8405898      8405898          8405898     8405898
mean      793560   793658           98             1222         231
std       514945   514942          253              948         175
min          106      252            0                0           0
25%       373184   373282           66              499          96
50%       720886   720980           93             1043         200
75%      1163042  1163141          122             1706         327
max      8313630  8313707       447470             7802        1326

In [7]:
train_logs.drop(columns=["id"]).describe(include=[object])

       activity down_event up_event text_change
count   8405898    8405898  8405898     8405898
unique       50        131      130        4111
top       Input          q        q           q
freq    6726796    5365319  5364789     6128208

In [8]:
list(train_logs.columns)

['id',
 'event_id',
 'down_time',
 'up_time',
 'action_time',
 'activity',
 'down_event',
 'up_event',
 'text_change',
 'cursor_position',
 'word_count']

In [9]:
train_logs["activity"].unique()

array(['Nonproduction', 'Input', 'Remove/Cut', 'Replace',
       'Move From [284, 292] To [282, 290]',
       'Move From [287, 289] To [285, 287]',
       'Move From [460, 461] To [465, 466]', 'Paste',
       'Move From [905, 1314] To [907, 1316]',
       'Move From [565, 743] To [669, 847]',
       'Move From [669, 847] To [565, 743]',
       'Move From [1041, 1121] To [1496, 1576]',
       'Move From [1455, 1557] To [1323, 1425]',
       'Move From [2268, 2275] To [2247, 2254]',
       'Move From [213, 302] To [902, 991]',
       'Move From [0, 158] To [234, 392]',
       'Move From [460, 465] To [925, 930]',
       'Move From [810, 906] To [816, 912]',
       'Move From [186, 187] To [184, 185]',
       'Move From [140, 272] To [299, 431]',
       'Move From [114, 140] To [272, 298]',
       'Move From [1386, 1450] To [1445, 1509]',
       'Move From [442, 524] To [296, 378]',
       'Move From [408, 414] To [390, 396]',
       'Move From [1144, 1147] To [1142, 1145]',
       'Move From [218, 220] To [206, 208]',
       'Move From [164, 165] To [153, 154]',
       'Move From [623, 632] To [624, 633]',
       'Move From [747, 960] To [1041, 1254]',
       'Move From [274, 314] To [299, 339]',
       'Move From [624, 625] To [845, 846]',
       'Move From [1861, 2063] To [1766, 1968]',
       'Move From [1766, 1968] To [1861, 2063]',
       'Move From [2091, 2179] To [252, 340]',
       'Move From [923, 1077] To [340, 494]',
       'Move From [0, 1] To [590, 591]',
       'Move From [999, 1000] To [1000, 1001]',
       'Move From [13, 65] To [9, 61]',
       'Move From [1651, 1769] To [1565, 1683]',
       'Move From [61, 136] To [0, 75]', 'Move From [0, 75] To [1, 76]',
       'Move From [75, 134] To [304, 363]',
       'Move From [289, 355] To [562, 628]',
       'Move From [944, 1102] To [1050, 1208]',
       'Move From [1306, 1371] To [1061, 1126]',
       'Move From [1061, 1126] To [1306, 1371]',
       'Move From [1361, 1362] To [1358, 1359]',
       'Move From [51, 86] To [109, 144]',
       'Move From [134, 169] To [122, 157]',
       'Move From [382, 437] To [458, 513]'], dtype=object)

In [10]:
train_logs["down_event"].unique()

array(['Leftclick', 'Shift', 'q', 'Space', 'Backspace', '.', ',', 'Enter',
       'ArrowLeft', "'", ';', 'ArrowRight', '-', '?', 'Tab', '"',
       'ArrowUp', 'ArrowDown', 'Rightclick', '=', 'CapsLock', 'Control',
       'c', 'v', '/', 'Delete', ':', 'z', '[', '$', '(', ')', '+', 'Home',
       'End', '\\', 'Meta', '*', '&', 'AudioVolumeMute', 'x', '!',
       'Insert', 'MediaPlayPause', 'NumLock', '%', 'V', '>', 'Alt',
       'AudioVolumeUp', 'ContextMenu', 'AudioVolumeDown', 'a', '<',
       'PageDown', ']', 'Middleclick', '@', 'F12', 'j', '\x96', 'Dead',
       't', 's', 'n', 'y', '{', 'ScrollLock', '¿', 'Process', '}',
       'MediaTrackPrevious', 'MediaTrackNext', 'F3', '^', 'Unidentified',
       'Cancel', '2', 'i', 'd', 'r', 'e', '`', '\x9b', 'm', '#', '~',
       'PageUp', 'T', 'A', 'b', 'S', 'ModeChange', '_', 'Escape', 'F11',
       'Unknownclick', 'AltGraph', 'F10', 'h', 'F15', 'Clear', 'OS', 'F',
       'C', 'o', 'Ä±', 'f', 'u', 'w', 'p', 'g', 'M', 'l', '|',
       'â\x80\x93', 'I', '0', '1', '5', '\x97', 'Ë\x86', '¡', '\x80',
       'Â´', 'Å\x9f', 'F2', 'ä', 'F1', 'Pause', 'F6'], dtype=object)

In [11]:
train_logs["up_event"].unique()

array(['Leftclick', 'Shift', 'q', 'Space', 'Backspace', '.', ',', 'Enter',
       'ArrowLeft', "'", ';', 'ArrowRight', '-', '?', 'Tab', '"',
       'ArrowUp', 'ArrowDown', 'm', 'Rightclick', 'i', 'o', 't', '=', 'a',
       'CapsLock', 'Control', 'c', 'v', '/', 'Delete', ':', 'z', '[', '$',
       '(', ')', '+', 'Home', 'End', '\\', 'Meta', '*', '&',
       'AudioVolumeMute', 'x', '!', 'Insert', 'MediaPlayPause', 'w',
       'NumLock', '%', 'V', 'b', '>', 'Alt', 'AudioVolumeUp',
       'ContextMenu', 'AudioVolumeDown', 'n', 'e', '<', 'PageDown', ']',
       'Middleclick', '@', 'F12', 'u', 'j', 's', '\x96', 'Dead', 'y', '{',
       'ScrollLock', '¿', 'p', 'Process', '}', 'MediaTrackPrevious',
       'MediaTrackNext', 'F3', '^', 'Unidentified', 'Cancel', 'h', '2',
       'd', 'r', '`', '\x9b', 'f', 'g', '#', '~', 'PageUp', 'l', 'T', 'A',
       'S', 'ModeChange', '_', 'Escape', 'F11', 'Unknownclick',
       'AltGraph', 'F10', 'F15', 'Clear', 'OS', 'C', 'Ä±', 'M', '|',
       'â\x80\x93', '0', '1', '5', '\x97', 'Ë\x86', '¡', '\x80', 'Â´',
       'Å\x9f', 'F2', 'ä', 'F1', 'k', 'Pause', 'F6'], dtype=object)

In [12]:
train_logs["text_change"].unique()

array(['NoChange', 'q', ' ', ..., 'qq qqq qqqq qqqqq',
       'qq qqqqq qqqq qq qqqqq ',
       '\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq '],
      dtype=object)

---

Analyze the training dataset that contains labels

In [13]:
train_scores.head()

         id  score
0  001519c8    3.5
1  0022f953    3.5
2  0042269b    6.0
3  0059420b    2.0
4  0075873a    4.0

In [14]:
train_scores.shape

(2471, 2)

In [15]:
train_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2471 entries, 0 to 2470
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2471 non-null   object
 1   score   2471 non-null   float64
dtypes: float64(1), object(1)
memory usage: 38.7+ KB

In [16]:
list(train_scores["score"].unique())

[3.5, 6.0, 2.0, 4.0, 4.5, 2.5, 5.0, 3.0, 1.5, 5.5, 1.0, 0.5]

In [17]:
new_train_logs = pd.read_csv("./dataset/new_train_logs.csv", index_col=0)

In [18]:
new_train_logs.head(10)

,event_id,down_time,up_time,action_time,text_change,cursor_position,word_count,Input,Move,Nonproduction,Paste,Remove/Cut,Replace,pause,pause_pct
id,,,,,,,,,,,,,,,
001519c8,1,4526,4557,31,0,0,0,0,0,1,0,0,0,4526.0,3.007857e-03
001519c8,2,4558,4962,404,0,0,0,0,0,1,0,0,0,1.0,6.645728e-07
001519c8,3,106571,106571,0,0,0,0,0,0,1,0,0,0,101609.0,6.752658e-02
001519c8,4,106686,106777,91,1,1,1,1,0,0,0,0,0,115.0,7.642587e-05
001519c8,5,107196,107323,127,1,2,1,1,0,0,0,0,0,419.0,2.784560e-04
001519c8,6,107296,107400,104,1,3,1,1,0,0,0,0,0,-27.0,-1.794347e-05
001519c8,7,107469,107596,127,1,4,1,1,0,0,0,0,0,69.0,4.585552e-05
001519c8,8,107659,107766,107,1,5,1,1,0,0,0,0,0,63.0,4.186809e-05
001519c8,9,107743,107852,109,1,6,1,1,0,0,0,0,0,-23.0,-1.528517e-05
001519c8,10,107840,107978,138,-1,7,1,1,0,0,0,0,0,-12.0,-7.974874e-06

In [19]:
new_train_logs.shape

(8405898, 15)

In [20]:
mean_pause = []
for _, group in new_train_logs.groupby("id"):
    mean_pause.append(group["pause"].mean())

In [21]:
del_sum = []
for _, group in new_train_logs.groupby("id"):
    del_sum.append((group["Remove/Cut"] == 1).sum())

In [22]:
add_sum = []
for _, group in new_train_logs.groupby("id"):
    add_sum.append((group["Input"] == 1).sum() + (group["Paste"] == 1).sum())

In [26]:
del_len = []
add_len = []
for _, group in new_train_logs.groupby("id"):
    diff = group["word_count"].diff()
    neg = diff[diff.fillna(0) < 0]
    pos= diff[diff.fillna(0) > 0]
    del_len.append(-neg.sum())
    add_len.append(pos.sum())